## A.White space 
#### 1. white Formatting in loops

In [1]:
for i in [1,2,3,4,5]:
    print (i)
    for j in [1,2,3,4,5]:
        print (j)
        print (i+j)
    print (i)
print ("done looping")

1
1
2
2
3
3
4
4
5
5
6
1
2
1
3
2
4
3
5
4
6
5
7
2
3
1
4
2
5
3
6
4
7
5
8
3
4
1
5
2
6
3
7
4
8
5
9
4
5
1
6
2
7
3
8
4
9
5
10
5
done looping

#### 2.Long_winded_computation

In [2]:
long_winded_computation = (1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 + 13 + 14 + 15 + 16 + 17 + 18 + 19 + 20)

In [3]:
long_winded_computation

210

In [4]:
long_winded_computation= (1+2 + 3 + 4 + 5 + 6 + 7+8+9+10+11+12+13+14+15+16+17+18+19+20+21+22+23 )

#### 3.New line  for making code easier to  Read

In [5]:
list_of_list=[[1,2,3],[4,5,6],[7,8,9]]

easier_to_read_list_of_lists=[[1,2,3],
                              [4,5,6],
                              [7,8,9]]

In [6]:
list_of_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [7]:
easier_to_read_list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

##### 4.use of Black slash  to indicate that a statement continues onto next line

In [8]:
two_plus_three=2+\
3

In [9]:
two_plus_three

5

#### 5.Indentation Error while copying code in python shell

In [10]:
for i in [1, 2, 3, 4, 5]:
# notice the blank line
print i

IndentationError: expected an indented block (<ipython-input-10-3659f73af224>, line 3)

In [11]:
%paste

UsageError: Line magic function `%paste` not found.

### B. MODULES

In [12]:
import re
my_regex=re.compile("[0-9]+",re.I)

In [13]:
my_regex

re.compile(r'[0-9]+', re.IGNORECASE|re.UNICODE)

### 1. Import value explicitly:
#### if you need a few specific values from a module, you can import them explicilty and use them without qualification:

In [14]:
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter=Counter()

In [15]:
my_counter

Counter()

In [16]:
match=10
from re import *
print (match)

<function match at 0x0000000002998C80>

In [17]:
import re as rg

In [18]:
print(match)

<function match at 0x0000000002998C80>

## C. Arithmetics

In [19]:
5/2

2.5

#### 2b. Integer Division

In [20]:
5//2

2

## D. Functions

In [21]:
def double(x):
    return x*2

In [22]:
double(4)

8

In [23]:
def apply_to_one(f):
    return f(1)

In [24]:
my_double=double
x=apply_to_one(my_double)

In [25]:
my_double

In [26]:
x

2

#### Lambda: short anonymous function

In [27]:
y=apply_to_one(lambda x:x+4)

In [28]:
y

5

In [29]:
another_double=lambda x:2*x

In [30]:
def another_double(x): return 2*x

In [31]:
another_double(5)

10

##### function parameters can be default arguments: which only need to be specified when you want a value other than the default

In [32]:
def my_print(message="my default meassage"):
    print (message)

In [33]:
my_print("great")

great

In [34]:
my_print()

my default meassage

In [35]:
def subtract(a=0,b=0):
    return a-b

In [36]:
subtract(10,5)

5

In [37]:
subtract(0,5)

-5

In [38]:
subtract(b=5)

-5

### E. STRINGS

string can be delimited by single or double quotation marks

In [39]:
single_quoted_string='data science'
double_quoted_string="data science"

python uses backslash to encode special characters

In [40]:
tab_string="\t"

In [41]:
len(tab_string)

1

In [42]:
tab_string

'\t'

#### raw string:
if you want backslashes as backslashes ( i.e. in window directory or  in regular  expression) you can create a raw strings using  r " "

In [43]:
not_tab_string =r"\t"

In [44]:
len(not_tab_string)

2

In [45]:
not_tab_string

'\\t'

#### multi line string using triple -[double quotes]:

In [46]:
multi_linw_string= """ this is the first line.
and this is the second line
and this is the third line """

### F. Exceptions

when something goes wrong, python raises an exception/
unhandled, these will cause  your program to clash. you can handle them using try and except:

In [47]:
try: 
    print (0/0)
except ZeroDivisionError:
    print (" cannot divide by zero")

 cannot divide by zero

### G. LIST

In [48]:
integer_list=[1,2,3]

In [49]:
hetrogenous_list=["string",0.1,True]

In [50]:
list_of_lists=[integer_list, hetrogenous_list,[]]

In [51]:
list_of_lists

[[1, 2, 3], ['string', 0.1, True], []]

In [52]:
list_of_lists[2][1]

IndexError: list index out of range

###### list from [0,1,2,3...9]

In [53]:
x=[range(10)]

In [54]:
x

[range(0, 10)]

In [55]:
zero=x[0]

In [56]:
one=x[1]

IndexError: list index out of range

In [57]:
one

NameError: name 'one' is not defined

In [58]:
zero

range(0, 10)

In [59]:
nine=x[-1]

In [60]:
nine

range(0, 10)

In [61]:
eight=x[-2]

IndexError: list index out of range

In [62]:
eight

NameError: name 'eight' is not defined

In [63]:
x[0]=-1

In [64]:
x[0]

-1

#### 2.using square bracket to slice a List

In [65]:
x=[0,1,2,3,4,5,6,7,8,9]

In [66]:
x[0]=-1

In [67]:
first_three=x[:3]
first_three

[-1, 1, 2]

In [68]:
three_to_end=x[3:]
three_to_end

[3, 4, 5, 6, 7, 8, 9]

In [69]:
one_to_four=x[1:5]
one_to_four

[1, 2, 3, 4]

In [70]:
last_three=x[-3:]
last_three

[7, 8, 9]

In [71]:
without_first_and_last=x[1:-1]
without_first_and_last

[1, 2, 3, 4, 5, 6, 7, 8]

In [72]:
copy_of_x=x[:]
copy_of_x

[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 3. 'in' operator to check for list membership

In [73]:
1 in [1,2,3]

True

In [74]:
0 in [1,2,3]

False

In [75]:
1 in x

True

In [76]:
0 in x

False

In [77]:
x

[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 4. Concatenating  lists together

##### a. extend () method

In [78]:
x=[1,2,3]

In [79]:
x.extend([4,5,6])

In [80]:
x

[1, 2, 3, 4, 5, 6]

##### b. list addition

In [81]:
x=[1,2,3]
y=x+[4,5,6]

In [82]:
y

[1, 2, 3, 4, 5, 6]

##### c. append to list -one item at a time

In [83]:
x=[1,2,3]
x.append(0)

In [84]:
x

[1, 2, 3, 0]

In [85]:
y=x[-1]

In [86]:
y

0

In [87]:
z=len(x)

In [88]:
z

4

####  d. unpacking a list

In [89]:
x,y,z=[1,2,7]

In [90]:
x,y,z

(1, 2, 7)

In [91]:
type(z)

int

In [92]:
_,z,_=[3,4,8]

In [93]:
z

4

### H. TUPLES

In [94]:
my_list=[1,2]

In [95]:
my_tuple=(1,2)

In [96]:
other_tuple=3,4

In [97]:
my_list[1]=3

In [98]:
my_list[1]

3

In [99]:
other_tuple

(3, 4)

In [100]:
my_list[1]

3

In [101]:
try:
    my_tuple[1]=3
except TypeError:
    print ("cannot modify a tuple")

cannot modify a tuple

#### Tuples are a convinent way to return multiple values from function

In [102]:
def sum_and_product (x,y):
    return(x+y),(x*y)

In [103]:
sp=sum_and_product(2,3)

In [104]:
sp

(5, 6)

In [105]:
s,p=sum_and_product(5,10)

In [106]:
s

15

In [107]:
p

50

##### Tuple and list can be used for multiple assignment

In [108]:
x,y=1,2

In [109]:
x,y=y,x

In [110]:
y

1

### G. DICTIONARIES

In [121]:
empty_dict={}
empty_dict2=dict()
grades={"Joel":80, "Tim":95}

In [112]:
jeols_grade=grades["Joel"]
jeols_grade

80

In [113]:
try:
    kates_grade=grades["kate"]
except KeyError:
    print (" no  grade for Kate")

 no  grade for Kate

without using exception

In [114]:
kates_grade=grades["kate"]

KeyError: 'kate'

In [115]:
jeol_has_grade = "Joel" in grades
jeol_has_grade

True

In [116]:
kate_has_grade="kate" in grades
kate_has_grade

False

#### get method that returns a default value (instead of raising an exception) when you look up a key thatâ€™s not in the dictionary:

In [125]:
jeols_grade=grades.get("Joel",0)
jeols_grade

80

In [120]:
kate_grade=grades.get("kate",0)
kate_grade

0

In [124]:
jeols_grade=grades.get("Joel",0)
jeols_grade

80

#### You assign key-value pairs using the same square brackets:

In [126]:
grades["Tim"]=101

In [127]:
grades["kate"]=20

In [128]:
num_student=len(grades)

In [129]:
num_student

3

####  Dictionaries are used frequently as a simple way to represent structured data:

In [131]:
tweet={
    "user": "joelgrus",
    "text":" DataScience is awesome",
    "retweet_count":100,
    "hashtags":["#Data","#science","#Datascience","#awesome","#yolo"]
}

In [132]:
tweet_key=tweet.keys()
tweet_key

dict_keys(['user', 'text', 'retweet_count', 'hashtags'])

In [142]:
tweet_value=tweet.values()
try:
    tweet_values
except NameError:
    k=tweet.values

k

In [143]:
tweet_value=tweet.values()
tweet_value

dict_values(['joelgrus', ' DataScience is awesome', 100, ['#Data', '#science', '#Datascience', '#awesome', '#yolo']])

In [144]:
type(tweet_value)

dict_values

In [145]:
tweet_items=tweet.items()
tweet_items

dict_items([('user', 'joelgrus'), ('text', ' DataScience is awesome'), ('retweet_count', 100), ('hashtags', ['#Data', '#science', '#Datascience', '#awesome', '#yolo'])])

In [148]:
"user" in tweet_key

True

In [149]:
"user" in tweet

True

In [154]:
"joelgrus" in tweet.values()

True

In [155]:
"joelgrus" in tweet_value

True