In [2]:
dimensions = (200, 50)
print(dimensions[0])

200

In [3]:
dimensions[0]=19

TypeError: 'tuple' object does not support item assignment

### B. Looping Through All Values in a Tuple

In [4]:
dimensions = (200, 50)
for dimension in dimensions:
    print(dimension)

200
50

In [5]:
dimensions = (200, 50,29,48, 98,76)
for dimension in dimensions[:3]:
    print(dimension)

200
50
29

### C.Writing over a Tuple
Although you can’t modify a tuple, you can assign a new value to a variable
that holds a tuple. So if we wanted to change our dimensions, we could
redefine the entire tuple:

In [5]:
dimensions=(200,500)
print("Original dimensions:")
for dimension in dimensions:
    print(dimension)

Original dimensions:
200
500

In [4]:
dimensions=(590,33)
print("\nModified dimensions:")
for dimension in dimensions:
    print(dimension)

Modified dimensions:
590
33

### D. Extracting List Element to form a Tuple

In [6]:
l1=[89,55,67,87,34,53,24]
t1=tuple(l1[1:3])
t1

(55, 67)

### E. Extracting Tuple Element to form a List

In [8]:
t2=(89,55,67,87,34,53,24)
l2=list(t2[3:5])
l2

[87, 34]

# Try It Yourself

In [ ]:

4-13. Buffet: A buffet-style restaurant offers only five basic foods. Think of five
simple foods, and store them in a tuple.
• Use a for loop to print each food the restaurant offers.
• Try to modify one of the items, and make sure that Python rejects the
change.
• The restaurant changes its menu, replacing two of the items with different
foods. Add a block of code that rewrites the tuple, and then use a for
loop to print each of the items on the revised menu.

In [10]:
five_foods=("Handi","karhai","kabab","Dosa","momos")

In [13]:
# Try to modify one of the items, and make sure that Python rejects the change.
five_foods[0]="chaat"

TypeError: 'tuple' object does not support item assignment

In [14]:
# The restaurant changes its menu, replacing two of the items with different
# foods. Add a block of code that rewrites the tuple, and then use a for
# loop to print each of the items on the revised menu

In [17]:
five_foods=("Chaat","Daal","kabab","Dosa","momos")
print(" new  2 food tuple: ")
for food in five_foods:
    print(food)

 new  2 food tuple:
Chaat
Daal
kabab
Dosa
momos