## A.White space 
#### 1. white Formatting in loops

In [1]:
for i in [1,2,3,4,5]:
    print (i)
    for j in [1,2,3,4,5]:
        print (j)
        print (i+j)
    print (i)
print ("done looping")

1
1
2
2
3
3
4
4
5
5
6
1
2
1
3
2
4
3
5
4
6
5
7
2
3
1
4
2
5
3
6
4
7
5
8
3
4
1
5
2
6
3
7
4
8
5
9
4
5
1
6
2
7
3
8
4
9
5
10
5
done looping

#### 2.Long_winded_computation

In [2]:
long_winded_computation = (1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 + 13 + 14 + 15 + 16 + 17 + 18 + 19 + 20)

In [3]:
long_winded_computation

210

In [4]:
long_winded_computation= (1+2 + 3 + 4 + 5 + 6 + 7+8+9+10+11+12+13+14+15+16+17+18+19+20+21+22+23 )

#### 3.New line  for making code easier to  Read

In [5]:
list_of_list=[[1,2,3],[4,5,6],[7,8,9]]

easier_to_read_list_of_lists=[[1,2,3],
                              [4,5,6],
                              [7,8,9]]

In [6]:
list_of_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [7]:
easier_to_read_list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

##### 4.use of Black slash  to indicate that a statement continues onto next line

In [8]:
two_plus_three=2+\
3

In [9]:
two_plus_three

5

#### 5.Indentation Error while copying code in python shell

In [10]:
for i in [1, 2, 3, 4, 5]:
# notice the blank line
print i

IndentationError: expected an indented block (<ipython-input-10-3659f73af224>, line 3)

In [11]:
%paste

UsageError: Line magic function `%paste` not found.

### B. MODULES

In [12]:
import re
my_regex=re.compile("[0-9]+",re.I)

In [13]:
my_regex

re.compile(r'[0-9]+', re.IGNORECASE|re.UNICODE)

### 1. Import value explicitly:
#### if you need a few specific values from a module, you can import them explicilty and use them without qualification:

In [14]:
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter=Counter()

In [15]:
my_counter

Counter()

In [16]:
match=10
from re import *
print (match)

<function match at 0x00000000029C8C80>

In [17]:
import re as rg

In [18]:
print(match)

<function match at 0x00000000029C8C80>

## C. Arithmetics

In [19]:
5/2

2.5

#### 2b. Integer Division

In [20]:
5//2

2

## D. Functions

In [21]:
def double(x):
    return x*2

In [22]:
double(4)

8

In [23]:
def apply_to_one(f):
    return f(1)

In [24]:
my_double=double
x=apply_to_one(my_double)

In [25]:
my_double

In [26]:
x

2

#### Lambda: short anonymous function

In [27]:
y=apply_to_one(lambda x:x+4)

In [28]:
y

5

In [29]:
another_double=lambda x:2*x

In [30]:
def another_double(x): return 2*x

In [31]:
another_double(5)

10

##### function parameters can be default arguments: which only need to be specified when you want a value other than the default

In [86]:
def my_print(message="my default meassage"):
    print (message)

In [87]:
my_print("great")

great

In [88]:
my_print()

my default meassage

In [89]:
def subtract(a=0,b=0):
    return a-b

In [90]:
subtract(10,5)

5

In [91]:
subtract(0,5)

-5

In [92]:
subtract(b=5)

-5

### E. STRINGS

string can be delimited by single or double quotation marks

In [93]:
single_quoted_string='data science'
double_quoted_string="data science"

python uses backslash to encode special characters

In [94]:
tab_string="\t"

In [95]:
len(tab_string)

1

In [100]:
tab_string

'\t'

#### raw string:
if you want backslashes as backslashes ( i.e. in window directory or  in regular  expression) you can create a raw strings using  r " "

In [102]:
not_tab_string =r"\t"

In [98]:
len(not_tab_string)

2

In [99]:
not_tab_string

'\\t'

#### multi line string using triple -[double quotes]:

In [101]:
multi_linw_string= """ this is the first line.
and this is the second line
and this is the third line """

### F. Exceptions

when something goes wrong, python raises an exception/
unhandled, these will cause  your program to clash. you can handle them using try and except:

In [105]:
try: 
    print (0/0)
except ZeroDivisionError:
    print (" cannot divide by zero")

 cannot divide by zero

### G. LIST

In [32]:
integer_list=[1,2,3]

In [33]:
hetrogenous_list=["string",0.1,True]

In [34]:
list_of_lists=[integer_list, hetrogenous_list,[]]

In [35]:
list_of_lists

[[1, 2, 3], ['string', 0.1, True], []]

In [53]:
list_of_lists[2][1]

IndexError: list index out of range

###### list from [0,1,2,3...9]

In [47]:
x=[range(10)]

In [48]:
x

[range(0, 10)]

In [38]:
zero=x[0]

In [39]:
one=x[1]

In [40]:
one

1

In [41]:
zero

0

In [42]:
nine=x[-1]

In [43]:
nine

9

In [44]:
eight=x[-2]

In [45]:
eight

8

In [49]:
x[0]=-1

In [50]:
x[0]

-1

IndexError: list index out of range

#### 2.using square bracket to slice a List

In [60]:
x=[0,1,2,3,4,5,6,7,8,9]

In [62]:
x[0]=-1

In [63]:
first_three=x[:3]
first_three

[-1, 1, 2]

In [65]:
three_to_end=x[3:]
three_to_end

[3, 4, 5, 6, 7, 8, 9]

In [66]:
one_to_four=x[1:5]
one_to_four

[1, 2, 3, 4]

In [71]:
last_three=x[-3:]
last_three

[7, 8, 9]

In [73]:
without_first_and_last=x[1:-1]
without_first_and_last

[1, 2, 3, 4, 5, 6, 7, 8]

In [74]:
copy_of_x=x[:]
copy_of_x

[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 3. 'in' operator to check for list membership

In [75]:
1 in [1,2,3]

True

In [76]:
0 in [1,2,3]

False

In [77]:
1 in x

True

In [78]:
0 in x

False

In [79]:
x

[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 4. Concatenating  lists together

##### a. extend () method

In [80]:
x=[1,2,3]

In [81]:
x.extend([4,5,6])

In [82]:
x

[1, 2, 3, 4, 5, 6]

##### b. list addition

In [85]:
x=[1,2,3]
y=x+[4,5,6]

In [86]:
y

[1, 2, 3, 4, 5, 6]

##### c. append to list -one item at a time

In [87]:
x=[1,2,3]
x.append(0)

In [88]:
x

[1, 2, 3, 0]

In [89]:
y=x[-1]

In [90]:
y

0

In [91]:
z=len(x)

In [92]:
z

4

####  d. unpacking a list

In [99]:
x,y,z=[1,2,7]

In [103]:
x,y,z

(1, 2, 7)

In [104]:
type(z)

int

In [113]:
_,z,_=[3,4,8]

In [114]:
z

4

### H. TUPLES

In [115]:
my_list=[1,2]

In [116]:
my_tuple=(1,2)

In [117]:
other_tuple=3,4

In [118]:
my_list[1]=3

In [119]:
my_list[1]

3

In [120]:
other_tuple

(3, 4)

In [122]:
my_list[1]

3

In [124]:
try:
    my_tuple[1]=3
except TypeError:
    print ("cannot modify a tuple")

cannot modify a tuple

#### Tuples are a convinent way to return multiple values from function

In [125]:
def sum_and_product (x,y):
    return(x+y),(x*y)

In [126]:
sp=sum_and_product(2,3)

In [127]:
sp

(5, 6)

In [128]:
s,p=sum_and_product(5,10)

In [129]:
s

15

In [130]:
p

50

##### Tuple and list can be used for multiple assignment

In [134]:
x,y=1,2

In [135]:
x,y=y,x

In [136]:
y

1

### G. DICTIONARIES

In [146]:
empty_dict={}
empty_dict2=dict()
grades={"Joel":80, "Tim":95}

In [147]:
jeols_grade=grades["Joel"]
jeols_grade

80

In [142]:
try:
    kates_grade=grades["kate"]
except KeyError:
    print (" no  grade for Kate")

 no  grade for Kate

without using exception

In [143]:
kates_grade=grades["kate"]

KeyError: 'kate'

In [153]:
jeol_has_grade = "Joel" in grades
jeol_has_grade

True

In [154]:
kate_has_grade="kate" in grades
kate_has_grade

False